* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 50px;
}

#pageContainer {
  text-align: center;
}

#contentContainer {
  display: flex;
  justify-content: space-evenly;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* font-size: ; */
}

#btnContainer,
#colorBtnContainer {
  display: flex;
  flex-direction: column;
}

#btnContainer > button,
#colorBtnContainer > button {
  font-size: 20px;
  padding: 4px;
  margin-bottom: 2px;
}

#boxContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 750px;
  height: 750px;
}

body {
  background-color: rgb(119 149 179);
}

.inputLabel {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

#inputContainer > input {
  width: 100%;
  margin-top: 10px;
  height: 30px;
}

#inputContainer > button {
  margin-top: 5px;
  font-size: 18px;
  padding: 5px 15px;
}
