* {
  box-sizing: border-box;
}

.pageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#boxContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin: auto;
}

.btn {
  width: 20px;
  height: 20px;
}

body {
  background-color: rgb(145, 145, 145);
}
