* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 50px;
}

#pageContainer {
  text-align: center;
}

#contentContainer {
  display: flex;
  justify-content: space-evenly;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#btnContainer {
  display: flex;
  flex-direction: column;
}

#boxContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 750px;
  height: 750px;
}

body {
  background-color: rgb(145, 145, 145);
}
